- if (wupinList.length > 0)
	ul.row
		each wupinitem in wupinList
			li.col-sm-4
				section
					.img
						img.img-responsive(src= wupinitem.img, alt='')
						.over-proper
							a.btn.font-montserrat(href='/detail/' + wupinitem.id) 查看详情
					.detail-sec
						a.font-montserrat(href='javascript:;') #{wupinitem.name}
						p #{wupinitem.introduce.substring(0, 40)}
							- if (wupinitem.introduce.length > 40)
								| ......
						- if (wupinitem.gmnicheng)
							p 购买人：#{wupinitem.gmnicheng}
							p 购买人联系方式：#{wupinitem.gmphone}
						.share-p
							span.price.font-montserrat $ #{wupinitem.price}
							i.fa.fa-star-o
							i.fa.fa-share-alt
- else
	.no-datacon
		.no-data
			img(src='/public/img/no-data.png')
